<%- include('../partials/header', { title: 'Create Project' }) %>

<h1>Create Project</h1>

<form action="/projects" method="POST" class="form-container">
  <label>Project Name:</label>
  <input type="text" name="name" placeholder="Project Name" required>

  <label>Description:</label>
  <textarea name="description" placeholder="Description"></textarea>

  <label>Price:</label>
  <input type="number" name="price" placeholder="Price">

  <label>Completed Work:</label>
  <textarea name="completedWork" placeholder="Completed Work"></textarea>

  <label>Start Date:</label>
  <input type="date" name="startDate">

  <label>End Date:</label>
  <input type="date" name="endDate">

  <label>Team Members:</label>
  <select name="teamMembers" multiple size="5">
    <% users.forEach(user => { %>
      <option value="<%= user._id %>"><%= user.username %></option>
    <% }) %>
  </select>


  <br>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
